.test_frame{
	border: 1px solid black;
	}
h1{	
	color: #FF6600;
	font-size: 500%;
	}
h3{
	color: #FF6600	;
	font-size: 200%;
	}
#logo_name{
	position: relative;
	color: #FF6600	;
	font-size: 200%;
	margin-left: 2%;
	font-weight: bolder;	 
	}
#login_name{
	position: absolute;
	right: 5%;
	bottom: 5%;
	color: #FF6600;
	font-size:50%;
	}

#background_login {	
 	position: relative;
   	margin-top: 50px;
   	margin-left: 20%;
   	margin-right: 20%;
   	padding-bottom: 5%;    
    border: 1px solid black;
	}
#main_outer_content_frame{
	position: relative;
	margin-top: 2%;
	margin-left: 2%;
	}
	 
.inner_div_login{	
	padding-top: 5%;
	}
	
.center{	
	position: relative;
	text-align: center;
	}
	 								 

