@(text: String)

<!DOCTYPE html>
<html>
<head>
	<link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/vier-gewinnt.png")'>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/layout.css")"/>
	<meta http-equiv="Refresh" content="5; URL=http://connect4htwg.herokuapp.com/">
	<title>Connect 4</title>
</head>
<body>
	<div id=background_main>
    	<div>
    		<div id="logo_name">Connect 4</div>
    	</div>
    	<div id="error_div" class="test_frame"></div>
    	<h2>@text</h2> 
    </div>
</body>
</html>