<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>VierGewinntLogin</title>
<link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/vier-gewinnt.jpg")'>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/layout.css")"/>
</head>
<body >
	<div id="background_login" class="test_frame" >
		<div class="center">
			<h2>Welcome to</h2>
			<h1>Connect4</h1>
		</div>
		<div class="center">
			<!-- Hätte hier gerne das vier-gewinnt.jpg eingebunden, aber kriegs nicht hin haha :D -->
			<p><img src="@routes.Assets.at("images/vier-gewinnt.jpg")"/></p>
		</div>
		<div id="login_form" class="center inner_div_login">
			<form action="http://localhost:9000/saveLogin" method="get">
				<h2>Choose your name:</h2>
				<p><input type="text" id="username" name="username" placeholder="Your username"/></p>
				<p>Press enter to play!</p>
				<p>döner</p>
			</form>
		</div>				
	</div>
	</body>
</html>	