<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<!--<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">-->
	<!-- Für einen automatischen Redirect auf die Homepage, für testzwecke inaktiv -->
<meta http-equiv="Refresh" content="4; URL=http://localhost:9000">
<link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/vier-gewinnt.png")'>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/layout.css")"/>
<title>Connect 4</title>
</head>
<body>
	<div id="background_logout">
		<div class="center">
			<h1> Connect 4</h1>
		</div>
		<div class="center">
			<p><img src="http://www.strauchgmbh.de/images/loader.gif" alt="LoadingCircle"/></p>
			<p class="Logout_p">You were successfully logged out!</p>
			<p class="Logout_p">You will be redirect to the Homepage</p> 
		</div>
	</div>
</body>
</html>