@(content: String, player: String, otherPlayer: String, player2: String)

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/vier-gewinnt.png")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/layout.css")"/>
	<script src="@routes.Assets.at("javascripts/jquery-1.11.1.js")"></script>
	<script src="@routes.Assets.at("javascripts/script.js")"></script>
	<title>Connect 4</title>
</head>
<body>
	<div id="background_play_screen" >
	
		<div id="play_screen_head" >
			<table id="table_head">
			<colgroup>
				<col width= "25%">
				<col width= "50%">
				<col width= "25%">
			</colgroup>
				<tr>
					<td>
						<div id="play_head_left">
							<div id="logo_name" >Connect 4</div>
						</div>						
					</td>
					<td></td>
					<td></td>				
				</tr>
			</table>
		</div>
	
		<div id="play_screen_body">	
			<table id="table_body">
				<colgroup>
					<col width= "25%">
					<col width= "50%">
					<col width= "25%">
				</colgroup>
				<tr>
					<td>
						<div id="play_body_left" class="test_frame">
							<p id="player" class="player">@player</p>
							<p class="playername">@content</p>
							<br/>
							</div>							
					</td>
					<td>
						<div id ="play_body_middle" class="center">
							<form name="play_form">
								<table id="table_play" class="test_frame">
									<tbody>
										<tr align="center">
											<td><img border="0" onmouseover="hover('pic', 0)" onmouseout="unhover('pic', 0)" id="opacityPic" name="pic" src="@routes.Assets.at("images/choice_stabil.gif")"/></td>
											<td><img border="0" onmouseover="hover('pic', 1)" onmouseout="unhover('pic', 1)" id="opacityPic" name="pic" src="@routes.Assets.at("images/choice_stabil.gif")"/></td>
											<td><img border="0" onmouseover="hover('pic', 2)" onmouseout="unhover('pic', 2)" id="opacityPic" name="pic" src="@routes.Assets.at("images/choice_stabil.gif")"/></td>
											<td><img border="0" onmouseover="hover('pic', 3)" onmouseout="unhover('pic', 3)" id="opacityPic" name="pic" src="@routes.Assets.at("images/choice_stabil.gif")"/></td>
											<td><img border="0" onmouseover="hover('pic', 4)" onmouseout="unhover('pic', 4)" id="opacityPic" name="pic" src="@routes.Assets.at("images/choice_stabil.gif")"/></td>
											<td><img border="0" onmouseover="hover('pic', 5)" onmouseout="unhover('pic', 5)" id="opacityPic" name="pic" src="@routes.Assets.at("images/choice_stabil.gif")"/></td>
											<td><img border="0" onmouseover="hover('pic', 6)" onmouseout="unhover('pic', 6)" id="opacityPic" name="pic" src="@routes.Assets.at("images/choice_stabil.gif")"/></td>
										</tr>
										<tr align="center">	
											<td>
												<a id="f00" onmouseover="hover('pic', 0)" onmouseout="unhover('pic', 0)" href="javascript:wurf_in(1)"><img border="0" name="f00" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id ="f10" onmouseover="hover('pic', 1)" onmouseout="unhover('pic', 1)" href="javascript:wurf_in(2)"><img border="0" name="f10" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id ="f20" onmouseover="hover('pic', 2)" onmouseout="unhover('pic', 2)" href="javascript:wurf_in(3)"><img border="0" name="f20" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id ="f30" onmouseover="hover('pic', 3)" onmouseout="unhover('pic', 3)" href="javascript:wurf_in(4)"><img border="0" name="f30" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id ="f40" onmouseover="hover('pic', 4)" onmouseout="unhover('pic', 4)" href="javascript:wurf_in(5)"><img border="0" name="f40" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id ="f50" onmouseover="hover('pic', 5)" onmouseout="unhover('pic', 5)" href="javascript:wurf_in(6)"><img border="0" name="f50" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id ="f60" onmouseover="hover('pic', 6)" onmouseout="unhover('pic', 6)" href="javascript:wurf_in(7)"><img border="0" name="f60" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
										</tr>
										<tr>
											<td>
												<a id="f01" onmouseover="hover('pic', 0)" onmouseout="unhover('pic', 0)" href="javascript:wurf_in(1)"><img border="0" name="f01" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f11" onmouseover="hover('pic', 1)" onmouseout="unhover('pic', 1)" href="javascript:wurf_in(2)"><img border="0" name="f11" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f21" onmouseover="hover('pic', 2)" onmouseout="unhover('pic', 2)" href="javascript:wurf_in(3)"><img border="0" name="f21" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f31" onmouseover="hover('pic', 3)" onmouseout="unhover('pic', 3)" href="javascript:wurf_in(4)"><img border="0" name="f31" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f41" onmouseover="hover('pic', 4)" onmouseout="unhover('pic', 4)" href="javascript:wurf_in(5)"><img border="0" name="f41" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f51" onmouseover="hover('pic', 5)" onmouseout="unhover('pic', 5)" href="javascript:wurf_in(6)"><img border="0" name="f51" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f61" onmouseover="hover('pic', 6)" onmouseout="unhover('pic', 6)" href="javascript:wurf_in(7)"><img border="0" name="f61" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
										</tr>
										<tr>
											<td>
												<a id="f02" onmouseover="hover('pic', 0)" onmouseout="unhover('pic', 0)" href="javascript:wurf_in(1)"><img border="0" name="f02" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id ="f12" onmouseover="hover('pic', 1)" onmouseout="unhover('pic', 1)" href="javascript:wurf_in(2)"><img border="0" name="f12" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f22" onmouseover="hover('pic', 2)" onmouseout="unhover('pic', 2)" href="javascript:wurf_in(3)"><img border="0" name="f22" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f32" onmouseover="hover('pic', 3)" onmouseout="unhover('pic', 3)" href="javascript:wurf_in(4)"><img border="0" name="f32" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f42" onmouseover="hover('pic', 4)" onmouseout="unhover('pic', 4)" href="javascript:wurf_in(5)"><img border="0" name="f42" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f52" onmouseover="hover('pic', 5)" onmouseout="unhover('pic', 5)" href="javascript:wurf_in(6)"><img border="0" name="f52" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f62" onmouseover="hover('pic', 6)" onmouseout="unhover('pic', 6)" href="javascript:wurf_in(7)"><img border="0" name="f62" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
										</tr>
										<tr>
											<td>
												<a id="f03" onmouseover="hover('pic', 0)" onmouseout="unhover('pic', 0)" href="javascript:wurf_in(1)"><img border="0" name="f03" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f13" onmouseover="hover('pic', 1)" onmouseout="unhover('pic', 1)" href="javascript:wurf_in(2)"><img border="0" name="f13" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f23" onmouseover="hover('pic', 2)" onmouseout="unhover('pic', 2)" href="javascript:wurf_in(3)"><img border="0" name="f23" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f33" onmouseover="hover('pic', 3)" onmouseout="unhover('pic', 3)" href="javascript:wurf_in(4)"><img border="0" name="f33" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f43" onmouseover="hover('pic', 4)" onmouseout="unhover('pic', 4)" href="javascript:wurf_in(5)"><img border="0" name="f43" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f53" onmouseover="hover('pic', 5)" onmouseout="unhover('pic', 5)" href="javascript:wurf_in(6)"><img border="0" name="f53" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f63" onmouseover="hover('pic', 6)" onmouseout="unhover('pic', 6)" href="javascript:wurf_in(7)"><img border="0" name="f63" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
										</tr>
										<tr>
											<td>
												<a id="f04" onmouseover="hover('pic', 0)" onmouseout="unhover('pic', 0)" href="javascript:wurf_in(1)"><img border="0" name="f04" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f14" onmouseover="hover('pic', 1)" onmouseout="unhover('pic', 1)" href="javascript:wurf_in(2)"><img border="0" name="f14" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f24" onmouseover="hover('pic', 2)" onmouseout="unhover('pic', 2)" href="javascript:wurf_in(3)"><img border="0" name="f24" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f34" onmouseover="hover('pic', 3)" onmouseout="unhover('pic', 3)" href="javascript:wurf_in(4)"><img border="0" name="f34" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f44" onmouseover="hover('pic', 4)" onmouseout="unhover('pic', 4)" href="javascript:wurf_in(5)"><img border="0" name="f44" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f54" onmouseover="hover('pic', 5)" onmouseout="unhover('pic', 5)" href="javascript:wurf_in(6)"><img border="0" name="f54" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f64" onmouseover="hover('pic', 6)" onmouseout="unhover('pic', 6)" href="javascript:wurf_in(7)"><img border="0" name="f64" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
										</tr>
										<tr>
											<td>
												<a id="f05" onmouseover="hover('pic', 0)" onmouseout="unhover('pic', 0)" href="javascript:wurf_in(1)"><img border="0" name="f05" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f15" onmouseover="hover('pic', 1)" onmouseout="unhover('pic', 1)" href="javascript:wurf_in(2)"><img border="0" name="f15" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f25" onmouseover="hover('pic', 2)" onmouseout="unhover('pic', 2)" href="javascript:wurf_in(3)"><img border="0" name="f25" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f35" onmouseover="hover('pic', 3)" onmouseout="unhover('pic', 3)" href="javascript:wurf_in(4)"><img border="0" name="f35" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f45" onmouseover="hover('pic', 4)" onmouseout="unhover('pic', 4)" href="javascript:wurf_in(5)"><img border="0" name="f45" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f55" onmouseover="hover('pic', 5)" onmouseout="unhover('pic', 5)" href="javascript:wurf_in(6)"><img border="0" name="f55" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
											<td>
												<a id="f65" onmouseover="hover('pic', 6)" onmouseout="unhover('pic', 6)" href="javascript:wurf_in(7)"><img border="0" name="f65" src="@routes.Assets.at("images/vgleer.gif")"/></a>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</td>
					<td>
						<div id="play_body_right" class="test_frame">
							<p class="player">@player2</p>
							<p class="playername">@otherPlayer</p>
							<br/>
						</div>
					</td>
				</tr>
			</table>			
		</div>
		<div id="play_logoff" class="center">
			<form action="http://connect4htwg.herokuapp.com/" method="get">
				<input type="submit" id="give_up" name="give_up" value="Give Up and Quit!" class="button"/>
			</form>
			<span id="output"/>
			
			<script type="text/javascript">
				var webSocket;
				var player = "@player";
				
				$(document).ready(function(){
					doDivColor(player);
					var WS = window["MozWebSocket"] ? MozWebSocket : WebSocket;
					 
					webSocket = new WS("@routes.Application.playNow(player).webSocketURL(request)");	
					
					webSocket.onmessage = receiveEvent;
					if(confirm("If you are ready, please press 'OK'!") == true){
						click("init");
					} else {
						history.back();
					}
				});
			</script>
		</div>			
	</div>
</body>
</html>