@(content: String)

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/vier-gewinnt.jpg")"/>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/layout.css")"/>
<title>Play Connect 4</title>
</head>
<body>
	<div id="background_play_screen" >
	
		<div id="play_screen_head" >
			<table id="table_head">
			<colgroup>
				<col width= "25%">
				<col width= "50%">
				<col width= "25%">
			</colgroup>
				<tr>
					<td>
						<div id="logo_name" >
							Connect 4
						</div>
					</td>
					<td>
						
					</td>
					<td>
						<div id="play_screen_name" >
							<h3>
							<!-- login_name oder screen_name(Spielername oben) muss noch entschieden werden -->
								<div >
									@content
								</div>
							</h3>
						</div>
					</td>				
				</tr>
			</table>
			
			
		</div>
	
		<div id="play_screen_body">	
			<table id="table_body">
				<colgroup>
					<col width= "25%">
					<col width= "50%">
					<col width= "25%">
				</colgroup>
				<tr>
					<td>
						<div id="play_body_left">
							<p>Player One</p>
							<p>Name: @content</p>
							<br/>
							<p>Score:</p>
						</div>	
					</td>
					<td>
						<div id ="play_body_middle" class="center">
							<table id="table_play" class="test_frame">
								<tbody>
									<tr align="center">
										<td>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
																
											<br/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
							
											<br/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
							
											<br/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<br/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<br/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
											<img border="0" name="f70" src="@routes.Assets.at("images/vgleer.gif")"/>
						
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
					<td>
						<div id="play_body_right" >
							<p>Player Two</p>
							<p>Name: toImplement</p>
							<br/>
							<p>Score:</p>
						</div>
					</td>
				</tr>
			</table>			
		</div>
		<div id="play_logoff" class="center">
			<form action="http://localhost:9000/" method="get">
				<input type="submit" id="give_up" name="give_up" value="Give Up and Quit!"/>
			</form>
		</div>			
	</div>
	
</body>
</html>